# Titulo

## Titulo 2

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

In [1]:
print('hello world')

hello world

In [2]:
name = 'Alex'

In [3]:
name

'Alex'

In [4]:
edad = 29
edad

29

In [5]:
sueldo = 1.1587

In [6]:
sueldo

1.1587

In [7]:
# comentario en python 
edad_str = '29'
sumar = int(edad_str) + edad

In [8]:
sumar

58

In [9]:
type(sumar)

int

In [10]:
type(edad_str)

str

In [11]:
type(sueldo)

float

In [12]:
""" 
    hello there 
    this is a comment 
"""

' \n    hello there \n    this is a comment \n'

In [13]:
parrafo = """
    este es un parrafo en python 
"""

In [14]:
parrafo

'\n    este es un parrafo en python \n'

In [15]:
nombre_completo = 'Freddy Alexander Coronel Flores'

In [16]:
nombre_completo.split(' ')

['Freddy', 'Alexander', 'Coronel', 'Flores']

In [17]:
nombre_completo.isalpha()

False

In [18]:
"Alex".isalpha()

True

In [20]:
print("me gustan los tacos a mi {}".format(nombre_completo))

me gustan los tacos a mi Freddy Alexander Coronel Flores