In [1]:
alex = {
    'nombre':'Alex',
    'apellido': 'Eguez',
    'edad': 23,
    'hijos': None,
    'casado': False,
    'sueldo': 1548.,
    'mascotas': [
        {
            "nombre": 'Michi',
            'edad': 2
        }
    ],
    'carro': (0,1,2)

    
    
}

In [2]:
alex['nombre']

'Alex'

In [3]:
alex['mascotas']

[{'edad': 2, 'nombre': 'Michi'}]

In [4]:
alex['mascotas'][0]['nombre']

'Michi'

In [5]:
alex.get('nombre')

'Alex'

In [6]:
alex.values()

dict_values([23, False, 'Eguez', (0, 1, 2), 1548.0, 'Alex', [{'edad': 2, 'nombre': 'Michi'}], None])

In [7]:
alex.keys()

dict_keys(['edad', 'casado', 'apellido', 'carro', 'sueldo', 'nombre', 'mascotas', 'hijos'])

In [8]:
type(alex.values())

dict_values

In [9]:
type(alex.keys())

dict_keys

In [11]:
for key in alex.keys():
    print("llave {} valor {} ".format(key,alex[key]))

llave edad valor 23
llave casado valor False
llave apellido valor Eguez
llave carro valor (0, 1, 2)
llave sueldo valor 1548.0
llave nombre valor Alex
llave mascotas valor [{'edad': 2, 'nombre': 'Michi'}]
llave hijos valor None

In [13]:
alex['isacc'] = 'issac'

In [14]:
alex

{'apellido': 'Eguez',
 'carro': (0, 1, 2),
 'casado': False,
 'edad': 23,
 'hijos': None,
 'isacc': 'issac',
 'mascotas': [{'edad': 2, 'nombre': 'Michi'}],
 'nombre': 'Alex',
 'sueldo': 1548.0}

In [16]:
valores_nuevos = {
    'talia': 'Talia',
    'rafico':'Rafico',
    'lulca':'Lula'
}

In [18]:
alex.update(valores_nuevos
           )

In [19]:
alex

{'apellido': 'Eguez',
 'carro': (0, 1, 2),
 'casado': False,
 'edad': 23,
 'hijos': None,
 'isacc': 'issac',
 'lulca': 'Lula',
 'mascotas': [{'edad': 2, 'nombre': 'Michi'}],
 'nombre': 'Alex',
 'rafico': 'Rafico',
 'sueldo': 1548.0,
 'talia': 'Talia'}

In [20]:
alex.get('sdff')

In [21]:
#alex['ewdf']