In [83]:
import pandas as pd
path_guardado = '/home/alex/Documents/py-coronel-flores-freddy-alexander/03_Pandas/data/csv/artwork_data.csv'
df = pd.read_csv(path_guardado)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69201 entries, 0 to 69200
Data columns (total 20 columns):
id                    69201 non-null int64
accession_number      69201 non-null object
artist                69201 non-null object
artistRole            69201 non-null object
artistId              69201 non-null int64
title                 69201 non-null object
dateText              69201 non-null object
medium                62817 non-null object
creditLine            69198 non-null object
year                  63823 non-null object
acquisitionYear       69156 non-null float64
dimensions            66768 non-null object
width                 65860 non-null object
height                65860 non-null object
depth                 2514 non-null float64
units                 65860 non-null object
inscription           6306 non-null object
thumbnailCopyright    14239 non-null object
thumbnailUrl          58415 non-null object
url                   69201 non-null object
dtypes: float64(2), int64(2), object(16)
memory usage: 10.6+ MB

In [85]:
df.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [86]:
df.artistRole.unique()

array(['artist', 'attributed to', 'pupil of', 'manner of', 'after',
       'formerly attributed to', 'studio of', 'and assistants',
       'doubtfully attributed to', 'follower of', 'and studio',
       'circle of', 'prints after', 'and other artists', 'and a pupil',
       'school of', 'imitator of', 'style of', 'pseudo'], dtype=object)

In [87]:
artistas_roles_contados = df.artistRole.value_counts()
writer = pd.ExcelWriter('roles_contados.xlsx',engine='xlsxwriter')
artistas_roles_contados.to_excel(writer,sheet_name="roles_contados")
hoja_roles = writer.sheets['roles_contados']
rango_celdas = 'B2:B{}'.format(len(artistas_roles_contados.index))

formato = {
    'type':'2_color_scale',
    'min_value':'10',
    'min_type':'percentile',
    'max_value': '99',
    'max_type':'percentile'
}

hoja_roles.conditional_format(rango_celdas, formato)
writer.save()

In [118]:
!ls

artistas_orientado_table.json  ejemplo_basico_sin_indices.xlsx
artworkData2.xlsx	       ejemplo_basico.xlsx
artworkData.xlsx	       F_iloc_loc.py
B_DataFrames.py		       G_group.py
bdd_python.db		       multiples_worksheet.xlsx
C_lectura_csv.py	       roles_contados2.xlsx
colores2.xlsx		       roles_contados3.xlsx
colores_Data_bar.xlsx	       roles_contados4.xlsx
colores.xlsx		       roles_contados5.xlsx
columns.xlsx		       roles_contados6.xlsx
data			       roles_contados7.xlsx
Deber_xlsx_Format.ipynb        roles_contadosIconSet2.xlsx
df.json			       roles_contadosIconSet3.xlsx
D_lectura_json.py	       roles_contadosIconSet4.xlsx
D_output_data.py	       roles_contadosIconSet.xlsx
E_indices_filtrado.py	       roles_contados.xlsx

In [89]:
def conditional_format(df,formato,rango,name="excel.xslx",sheet_name="sheet"):
    writer  = pd.ExcelWriter(name,engine="xlsxwriter")
    df.to_excel(writer,sheet_name=sheet_name)
    sheets = writer.sheets[sheet_name]
    sheets.conditional_format(rango,formato)
    writer.save()

In [90]:

formato = {
    'type':'3_color_scale',
    'min_value':'10',
    'min_type':'percentile',
    'max_value': '99',
    'max_type':'percentile'
}
rango_celdas = 'B2:B{}'.format(len(artistas_roles_contados.index))

conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contados2.xlsx',sheet_name="roles_contados2")

In [91]:

formato = {
    'type':'data_bar',
    'min_value':'1',
    'min_type':'min',
    'max_value': '99',
    'max_type':'max'
}
rango_celdas = 'B2:B{}'.format(len(artistas_roles_contados.index))

conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contados3.xlsx',sheet_name="roles_contados3")

In [92]:

formato = {
    'type':'data_bar',
    'min_value':'1',
    'min_type':'percent',
    'max_value': '99',
    'max_type':'percent',
    'bar_color': '#14bc55', # verde 
  
}
rango_celdas = 'B2:B{}'.format(len(artistas_roles_contados.index))

conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contados4.xlsx',sheet_name="roles_contados4")

In [93]:
artistas_roles_contados[artistas_roles_contados<11]*-1

pseudo                     -8
studio of                  -7
imitator of                -5
school of                  -4
and a pupil                -4
and assistants             -3
follower of                -2
style of                   -1
doubtfully attributed to   -1
circle of                  -1
and studio                 -1
Name: artistRole, dtype: int64

In [94]:
artistas_roles_contados[artistas_roles_contados<11] = artistas_roles_contados[artistas_roles_contados<11]*-2

In [95]:
artistas_roles_contados

artist                      66907
after                        2014
attributed to                 164
manner of                      24
pupil of                       18
formerly attributed to         14
and other artists              12
prints after                   11
pseudo                        -16
studio of                     -14
imitator of                   -10
school of                      -8
and a pupil                    -8
and assistants                 -6
follower of                    -4
style of                       -2
doubtfully attributed to       -2
circle of                      -2
and studio                     -2
Name: artistRole, dtype: int64

In [100]:
formato = {
    'type':'data_bar',
    'min_value':'1',
    'min_type':'percent',
    'max_value': '99',
    'max_type':'percent',
    'bar_color': '#14bc55',
  
}
rango_celdas = 'B2:B{}'.format(len(artistas_roles_contados.index))

conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contados5.xlsx',sheet_name="roles_contados5")

In [103]:
formato = {
    'type':'data_bar',
    'min_value':'20',
    'min_type':'percentile',
    'max_value': '99',
    'max_type':'percentile',
    'bar_color': '#14bc55',
    'bar_axis_position': 'middle',

   
}
rango_celdas = 'B2:B{}'.format(len(artistas_roles_contados.index))

conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contados6.xlsx',sheet_name="roles_contados6")

In [98]:
# icon set
formato = {
    'type': 'icon_set',
           
    'icon_style': '3_traffic_lights'
}
conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contadosIconSet.xlsx',sheet_name="roles_contadosIconSet")

In [101]:
# icon set
formato = {
    'type': 'icon_set',
           
    'icon_style': '4_ratings'
}
conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contadosIconSet2.xlsx',sheet_name="roles_contadosIconSet2")

In [105]:
formato = {'type': 'icon_set',
     'icon_style': '4_red_to_black',
     'icons': [{'criteria': '>=', 'type': 'number',     'value': 200},
               {'criteria': '<',  'type': 'number', 'value': 164},
               {'criteria': '<=', 'type': 'number',    'value': 25}]}
conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contadosIconSet3.xlsx',sheet_name="roles_contadosIconSet3")

In [107]:
formato = {'type': 'icon_set',
                              'icon_style': '5_arrows',
                              'reverse_icons': True}
conditional_format(artistas_roles_contados,formato,rango_celdas,name='roles_contadosIconSet4.xlsx',sheet_name="roles_contadosIconSet4")

In [115]:
# ejemplo con el df 
df_pickle = pd.read_pickle('/home/alex/Documents/py-coronel-flores-freddy-alexander/03_Pandas/data/csv/artwork_data.pickle')
writer = pd.ExcelWriter('artworkData.xlsx',engine='xlsxwriter')
df_pickle.to_excel(writer,sheet_name="artwork")

workbook = writer.book
hoja_artwork = writer.sheets['artwork']

rango_celdas_width = 'G2:G{}'.format(len(df_pickle.index))
rango_celdas_height = 'H2:H{}'.format(len(df_pickle.index))

# red
format_red = workbook.add_format({'bg_color': '#FFC7CE',
                               'font_color': '#9C0006'})

# green 
format_green = workbook.add_format({'bg_color': '#C6EFCE',
                               'font_color': '#006100'})

# top 20 width 
hoja_artwork.conditional_format(rango_celdas_width, {'type': 'top',
                                           'value': '20',
                                           'format': format_green})
# bottonm 20 width 
hoja_artwork.conditional_format(rango_celdas_width, {'type': 'bottom',
                                           'value': '20',
                                           'format': format_red})
# top 20 height
hoja_artwork.conditional_format(rango_celdas_height, {'type': 'top',
                                           'value': '20',
                                           'format': format_green})
# bottom 20  height 
hoja_artwork.conditional_format(rango_celdas_height, {'type': 'bottom',
                                           'value': '20',
                                           'format': format_red})


writer.save()

In [117]:
writer = pd.ExcelWriter('artworkData2.xlsx',engine='xlsxwriter')
df_pickle.to_excel(writer,sheet_name="artwork2")

workbook = writer.book
hoja_artwork = writer.sheets['artwork2']

rango_celdas_width = 'G2:G{}'.format(len(df_pickle.index))
rango_celdas_height = 'H2:H{}'.format(len(df_pickle.index))


# red
format_red = workbook.add_format({'bg_color': '#FFC7CE',
                               'font_color': '#9C0006'})

# green 
format_green = workbook.add_format({'bg_color': '#C6EFCE',
                               'font_color': '#006100'})

# greather than 243  width 
hoja_artwork.conditional_format(rango_celdas_width, {'type':     'cell',
                                    'criteria': 'greater than',
                                    'value':     243,
                                    'format':    format_green})
# height betweent 100 ahd 180
hoja_artwork.conditional_format(rango_celdas_height, {'type':     'cell',
                                       'criteria': 'between',
                                       'minimum':  100,
                                       'maximum':  180,
                                       'format':   format_red})


writer.save()